.containerNavbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c7c7c775;
  padding: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.bluePrimary{
  margin: 0;
  color: #2a367c;
  font-size: 25px;
  font-style: italic;

}
.title{
  margin-left: 30px;
  font-style: italic;
}
.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
}

.categories li {
  background-color: #f3630ae7;
  padding: 10px 20px;
  color: #ffffff;
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}